@import 'utils';
@import 'variables';
@import 'react-toggle/style.css';

.rhc-banner {
    display: block;
    position: fixed;
    z-index: 99999;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: px(36) 0;
    transition: all 0.3s ease;
    background-color: var(--background);

    &__content {
        max-width: px(1440);
        margin: 0 auto;
        padding: 0 px(40);

        @include md {
            display: flex;
            gap: px(12);
        }

        &__message {
            margin: 0 auto px(16) auto;
            transition: all 0.3s ease;
            color: var(--text-primary);

            @include md {
                margin: 0 auto;
            }

            a {
                transition: all 0.3s ease;
                color: var(--text-primary);
                font-weight: bold;
                text-decoration: none;
            }
        }

        &__secondary {
            width: 100%;
            height: px(36);
            margin: px(4) auto;
            padding: px(2);
            transition: all 0.3s ease;
            border: px(2) solid var(--text-primary);
            border-radius: px(18);
            background-color: var(--background);
            color: var(--text-primary);
            font-family: inherit;
            font-size: px(16);
            cursor: pointer;

            @include md {
                width: px(200);
                margin: 0 auto;
            }

            &:hover {
                border-color: var(--text-secondary);
                color: var(--text-secondary);
            }
        }

        &__primary {
            width: 100%;
            height: px(36);
            margin: px(4) auto;
            padding: px(2);
            transition: all 0.3s ease;
            border: px(2) solid var(--text-primary);
            border-radius: px(18);
            background-color: var(--text-primary);
            color: var(--background);
            font-family: inherit;
            font-size: px(16);
            cursor: pointer;

            @include md {
                width: px(200);
                margin: 0 auto;
            }

            &:hover {
                border-color: var(--text-secondary);
                background-color: var(--text-secondary);
            }
        }
    }
}

.rhc-settings {
    display: flex;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;

    &__content {
        display: grid;
        box-sizing: border-box;
        grid-template-rows: min-content auto min-content;
        width: calc(100% - px(12));
        max-width: px(640);
        height: calc(100% - px(12));
        transition: all 0.3s ease;
        border-radius: px(8);
        background-color: var(--background);
        box-shadow: 0 px(11) px(32) 0 rgb(0 0 0 / 10%), 0 px(5) px(12) -px(8) rgb(0 0 0 / 20%),
            0 0 px(1) 0 rgb(0 0 0 / 20%);
        color: var(--text-primary);

        @include sm {
            width: calc(100% - px(24));
            height: calc(100% - px(24));
        }

        @include md {
            width: calc(100% - px(48));
            height: calc(100% - px(48));
        }

        &__header {
            padding: px(24);

            h1 {
                margin: 0 0 px(12) 0;
                font-size: medium;
            }
        }

        &__main {
            padding: px(24);
            overflow-y: auto;
            transition: all 0.3s ease;

            &::-webkit-scrollbar {
                width: var(--scrollbar-size);
                height: var(--scrollbar-size);
            }

            &::-webkit-scrollbar-thumb {
                border-radius: var(--scrollbar-size);
                background: var(--scrollbar-foreground-color);
            }

            &::-webkit-scrollbar-track {
                border-radius: var(--scrollbar-size);
                background: var(--scrollbar-background-color);
            }

            scrollbar-color: var(--scrollbar-foreground-color) var(--scrollbar-background-color);

            &__item {
                margin: px(24) 0;

                @include md {
                    margin: px(36) 0;
                }

                &:first-of-type {
                    margin-top: 0;
                }

                &__title {
                    display: flex;
                    justify-content: space-between;

                    &__label {
                        font-weight: bold;
                    }
                }

                &__description {
                    margin: px(8) 0;
                }
            }
        }

        &__footer {
            display: grid;
            padding: px(24);
            gap: px(12);

            @include md {
                grid-template-columns: 1fr 1fr 1.5fr;
            }

            &__secondary {
                width: 100%;
                height: px(36);
                margin: 0 auto;
                padding: px(2);
                transition: all 0.3s ease;
                border: px(2) solid var(--text-primary);
                border-radius: px(18);
                background-color: var(--background);
                color: var(--text-primary);
                font-family: inherit;
                font-size: px(16);
                cursor: pointer;

                &:hover {
                    border-color: var(--text-secondary);
                    color: var(--text-secondary);
                }
            }

            &__primary {
                width: 100%;
                height: px(36);
                margin: 0 auto;
                padding: px(2);
                transition: all 0.3s ease;
                border: px(2) solid var(--text-primary);
                border-radius: px(18);
                background-color: var(--text-primary);
                color: var(--background);
                font-family: inherit;
                font-size: px(16);
                cursor: pointer;

                &:hover {
                    border-color: var(--text-secondary);
                    background-color: var(--text-secondary);
                }
            }
        }
    }
}
