:root {
    --scrollbar-size: 6px;
}

.rhc-theme-light {
    --text-primary: #000;
    --text-secondary: #757575;
    --background: #f7f7f7;
    --scrollbar-background-color: #d4d4d4;
    --scrollbar-foreground-color: #8a8a8a;
}

.rhc-theme-dark {
    --text-primary: #f7f7f7;
    --text-secondary: #8a8a8a;
    --background: #1a1a1a;
    --scrollbar-background-color: #363636;
    --scrollbar-foreground-color: #8a8a8a;
}
